#app {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}
#container {
  border: blue 1px solid;
  background: bisque;
  padding: 20px;
}
#container button {
  margin-left: 15px;
}
.active {
  background-color: black;
  color: white;
}
#result {
  display: none;
  width: 50%;
  margin: auto;
  margin-top: 55px;
  text-align: center;
  background-color: bisque;
  height: 100px;
  padding-top: 15px;
}
